body { 
  font-family: Arial, sans-serif; 
  text-align: center; 
  background-color: #333; 
} 

.board { 
  display: inline-block; 
  margin: 20px; 
} 

.cell { 
  width: 30px; 
  height: 30px; 
  border: 1px solid #ccc; 
  display: inline-block; 
  text-align: center; 
  vertical-align: middle; 
  font-size: 20px; 
  cursor: pointer; 
  background-color: #eee; 
  
  color: #333; 
  line-height: 30px; 
} 

.revealed { 
  background-color: #ccc; 
  color: #000; 
  font-weight: bold; 
} 

.mine { 
  background-color: red; 
} 

#gameOver { 
  color: red; 
} 

button { 
  cursor: pointer; 
} 

#name { 
  color: white; 
  padding-bottom: 15px; 
}